@model DroneViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Drones</h1>
<hr />
<mensagem texto="@TempData["msg"]"></mensagem>

<div class="row">
    <div class="col-md-6">
        <h2>Cadastro de Drone</h2>
        <form asp-action="cadastrar">
            <div class="form-group">
                <label asp-for="Drone.Nome"></label>
                <input asp-for="Drone.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Drone.Valor"></label>
                <input asp-for="Drone.Valor" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for  ="Drone.Disponivel" />
                <label asp-for="Drone.Disponivel"></label>
            </div>
            <div class="form-group">
                <label asp-for="Drone.Descricao"></label>
                <textarea asp-for="Drone.Descricao" class="form-control"></textarea>
            </div>
            <input type="submit" value="Cadastrar" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-md-6">
        <h2>Lista de Drones</h2>
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Disponível</th>
            </tr>
            @foreach (var item in Model.Lista)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Valor</td>
                    <td>@(item.Disponivel?"Sim":"Não")</td>
                </tr>
            }
        </table>
    </div>
</div>

